.contactForm {
  display: flex;
  align-items: center;
}
form {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto;
  z-index: 999;
}

.formContainer {
  width: 80%;
  /* position: absolute; */
  background-color: #fff;
  transform: translate(0, 35%);
  z-index: 2;
  padding: 2rem 3rem 2rem 3rem;
  border: 0.125rem solid #9c9c9c6a;
}

input {
  padding: 1rem 1.5625rem;
  line-height: 1.75rem;
  height: 3.5rem;
  border: 0.125rem solid #9c9c9c6a;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #000;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.425rem rgba(0, 0, 0, 0.05);
}

input::placeholder {
  color: #777;
}

.textInput {
  box-sizing: border-box;
  height: 13rem;
  grid-column: 1/3;
  resize: none;
  /* text-align: start; */
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  justify-self: end;
  width: 40%;
  height: 4rem;
  background-color: transparent;
  padding: 0.875rem 2.25rem;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #e43e2e;
  text-align: center;
  font-weight: 550;
  font-size: 1.3rem;
  z-index: 2;
  transition: all 0.3s;
}

.formButton:hover {
  color: #fff;
  background-color: #e43e2e;
  /* border-color: #000; */
}

h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  color: #000;
  margin-top: 1.3rem;
  font-weight: 550;
}

.formTitle {
  color: #000;
}

@media screen and (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
  .textInput {
    grid-column: 1/1;
  }
  .formButton {
    grid-column: 1/1;
  }
  .formContainer {
    position: relative;
    width: 95%;
    margin: 0 auto;
    transform: translate(0, 15%);
  }
}
