@import '~leaflet/dist/leaflet.css';

.leaflet-container {
    width: 100% !important;
    height: 50rem !important;
    z-index: 1;
  }

.leaflet-control{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    height: 0;
}